{% extends "base.html" %}

{% block title %}Post Details{% endblock %}

{% block content %}
<h1>Post Details</h1>
<p>Title: {{ post.title }}</p>
<p>Content: {{ post.content }}</p>
<p>Created at: {{ post.created_at }}</p>

<h3>Tags:</h3>
<ul>
    {% for tag in post.tags %}
    <li>{{ tag.name }}</li>
    {% endfor %}
</ul>

<h3>Add Tags:</h3>
<form method="POST" action="{{ url_for('add_tag_to_post', post_id=post.id) }}">
    <div class="form-group">
        <label for="tags">Tags:</label>
        <input type="text" name="tags" id="tags" placeholder="Enter tags" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Tags</button>
</form>

<a href="{{ url_for('show_user', user_id=post.user.id) }}">Back to user's posts.</a>

<div class="button-group">
    <a href="{{ url_for('show_edit_post_form', post_id=post.id) }}" class="btn btn-primary">Edit Post</a>
    <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    <a href="{{ url_for('show_all_users') }}" class="btn btn-secondary">Back to Users</a>
</div>
{% endblock %}